# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# Test and coverage
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/ 